@import "./config";

font1 {
	font-size: 1.14287em;
	color: #000000;
}

font2 {
	font-size: 1em;
	color: #000000;
}

font3 {
	font-size: 0.85714em;
	color: #000000;
}

font4 {
	font-size: 0.85714em;
	color: #0000FF;
}

font5 {
	font-size: 1.14287em;
	color: #000000;
}

font6 {
	font-size: 0.85714em;
	color: #000000;
}